@charse "utf-8";
@font-face {
    font-family: Arial, Helvetica, sans-serif;
    src: local('Arial'), local('Helvetica'), local('sans-serif');
}

:root {
    --cor-1: #c5ebd6;
    --cor-2: #83e1ad;
    --cor-3: #3ddc84;
    --cor-4: #2fa866;
    --cor-5: #1a5c37;
    --cor-6: #063d1e;
    --fonte-padrao:Arial, Helvetica, sans-serif;
}
body {
    background-image: url('imagens/planodefundo.png');
    image-rendering: auto; 
    background-size: 200px;
    border-radius: 10px;
}
main {
    width: 80%;
    display: block;  
    margin: auto;
    padding: 10px 10px 10px 10px; 
    background-color: aliceblue;
    border-radius: 10px;
}

header {
    padding: 5px 5px 5px 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5%;
    text-align: center;
}
h1 {
    text-align: center;
    font-size: 20px;
    background-image: linear-gradient(to right, var(--cor-4),transparent);
    border-radius: 10px;
    box-shadow:  10px 10px 5px var(--cor-5);
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
    line-height: normal;
    font-family: var(--fonte-padrao);
}
p {
    background-image: linear-gradient(to right, var(--cor-3),transparent);
    border-radius: 10px;
    font-size: 10px;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
    text-align: justify;
    line-height: normal;
    font-family: var(--fonte-padrao);
    text-decoration: none;
}

div.video {
    padding: 5px 5px 5px 5px;
    background-image: linear-gradient(to right, var(--cor-4),transparent);  
    padding-bottom: 35%;
    position: relative;
    border-radius: 10px;
}
div.video > iframe {
    position: absolute;
    top: 5%; 
    bottom: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
h2{
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
    text-align: left 10px;
    font-size: 10px;
    line-height: normal;
    background-image: linear-gradient(to right, var(--cor-4),transparent);
    border-radius: 10px;
}

nav {
    background-image: linear-gradient(to right, var(--cor-1),transparent);
    border-radius: 10px;
}
nav :hover {
    width: auto;
    height: auto;
    background-image: linear-gradient(to right, var(--cor-3),transparent);  
    border-radius: 3%;
    box-shadow: 5% var(--cor-5);

}
div audio {
    font-size: 5px;
    width: 50%;
    height: 10px;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
    line-height: normal;
    background-image: linear-gradient(to right, var(--cor-4),transparent);
    border-radius: 10px;
}

.player-container {
    width: 90%;
    border-radius: 10px;
    background-image: linear-gradient(to right, var(--cor-2),transparent);
    box-shadow:  10px 10px 5px var(--cor-5);

}

footer{
    width: 90%;
    height: 10px;
    border-radius: 10px;
    padding: 5px 5px 5px 5px;
}

